.doctor-detail-container {
  height: 500px;
  margin-top: 30px;
  .intro-doctor {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    .avatar {
      width: 120px;
      height: 120px;
      background: center center no-repeat;
      border-radius: 50%;
      background-size: cover;
    }
    .information {
      .title {
        font-size: 27px;
        margin-bottom: 10px;
        line-height: 1.2;
        font-weight: bold;
        color: #333;
      }
      .desc {
        color: #555;
        font-size: 13px;
      }
    }
  }

  .schedule-doctor {
    margin-top: 20px;
    display: flex;
    min-height: 200px;
    .schedule-doctor-left {
      width: 50%;
      .schedule-doctor-container {
        border-right: 1px solid #eee;
        padding-bottom: 30px;
        height: 100%;
        .schedule-doctor-select {
          select {
            border: none;
            border-bottom: 1px solid #ddd;
            outline: none;
            cursor: pointer;
            padding: 10px 0;
            color: #337ab7;
            font-weight: 600;
            font-size: 14px;
            option {
              cursor: pointer;
            }
          }
        }

        .schedule-doctor-time {
          .calendar {
            margin: 10px 0;
            span {
              text-transform: uppercase;
              font-size: 14px;
              color: #333;
              font-weight: bold;
              i {
                margin-right: 10px;
              }
            }
          }
          .time-container {
            .time-content-btn {
              display: flex;
              gap: 15px;
              flex-wrap: wrap;
              button {
                padding: 8px 10px;
                border: none;
                outline: none;
                background-color: #fff04b;
                border-radius: 3px;
                color: #333;
                font-weight: 600;
                font-size: 14px;
                &:hover {
                  background-color: #45c3d2;
                  color: white;
                }
                &.btn-vi {
                  min-width: 120px;
                }
                &.btn-en {
                  min-width: 170px;
                }
              }
            }

            .book-free {
              margin-top: 20px;
            }
          }
        }
      }
    }
    .schedule-doctor-right {
      width: 50%;
    }
  }

  .detail-info-doctor {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #f9f9f9;
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 17px;
    }
    img {
      width: 100%;
    }
  }

  .comment-doctor {
    height: 50px;
  }
}
