.home-header-container {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .left-content {
      display: flex;
      align-items: center;
      gap: 20px;
      &-menu {
        font-size: 25px;
        color: grey;
        cursor: pointer;
      }
      .home-header-link {
        width: 170px;
        height: auto;
      }
      .home-header-logo {
        width: 100%;
        height: 100%;
      }
    }

    .center-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      .heading-title {
        font-weight: bold;
      }
      .subs-title {
        font-weight: lighter;
        font-size: 10px;
      }
    }

    .right-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 14px;

      .language-option {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        &:hover .language-select {
          display: block;
        }
        i:first-child {
          color: #45c3d2;
          cursor: pointer;
        }
        i:last-child {
          color: #969495;
          cursor: pointer;
        }
        span {
          color: #969495;
          line-height: 30px;
          font-weight: 600;
          cursor: pointer;
          padding-left: 10px;
        }
      }

      .language-select {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #f2f2f2;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .language-child {
          padding: 5px 10px;
          align-items: center;
          span {
            color: #333;
          }
        }
        .language-child:hover {
          background: white;
          span {
            color: #45c3d2;
          }
        }
      }

      .account {
        color: #969495;
        line-height: 30px;
        font-weight: 700;
        cursor: pointer;
        padding-right: 10px;
        text-decoration: none;
      }
      .login {
        border-right: 2px solid #ddd;
      }
    }
  }
}
