footer {
  .footer-left {
    .font-size-14 > p {
      font-size: 14px;
    }
    .footer-logo {
      background: url('src/assets/images/logo.svg') center center no-repeat;
      width: 200px;
      height: 44px;
      margin-bottom: 20px;
    }
    .address {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .footer-center {
    a:hover {
      color: #45c3d2 !important;
    }
  }

  .footer-right {
    div {
      font-size: 14px;
    }
    .title {
      font-size: 14px;
    }
  }

  .footer-bottom {
    background: #64b9e5;
  }
}
